#connectToTv {
    background-color: #141414;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
}

.ml-30 {
    margin-left: 30px;
}

.mx-30 {
    margin-left: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

#connectToTv .container {
    margin: 220px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

#connectToTv .right-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#connectToTv .left-top-content {
    display: flex;
    align-items: center;
}

#connectToTv .left-top-content-text {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.left-bottom-content {}

#connectToTv .active-text {
    color: #ff1a00;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.steps {}

#connectToTv .single-steps {
    display: flex;
    align-items: center;
}

#connectToTv .square-steps {
    padding: 8px 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#connectToTv .step-details {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#connectToTv .activation-code {
    font-size: 45px;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 25px;
}

#connectToTv .qr-code-text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 64px;
}

#connectToTv .code-text {
    text-align: center;
    font-size: 64px;
    margin-top: 40px;
}

@media only screen and (max-width: 1280px) {
    #connectToTv .container {
        margin: 180px;
        margin-top: 100px;
        margin-right: 100px;
        display: flex;
        column-gap: 50px;
        justify-content: space-between;
    }

    #connectToTv .left-top-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #connectToTv .left-top-content-text {
        font-size: 32px;
        font-weight: 300;
    }

    .mx-30 {
        margin-left: 0;
    }

    #connectToTv .qr-code-text {
        font-size: 33px;
    }

    #connectToTv .code-text {
        font-size: 35px;
    }
}