#exit-screen,
#premium-needed-screen,
#account-delete-screen,
#return-home-screen,
#stream-limit-crossed {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

#exit-screen .content,
#premium-needed-screen .content,
#account-delete-screen .content,
#return-home-screen .content,
#stream-limit-crossed .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#exit-screen .window,
#premium-needed-screen .window,
#account-delete-screen .window,
#return-home-screen .window,
#stream-limit-crossed .window {
  /* background-color: #fff; */
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 14px;
  background: #141414;
  backdrop-filter: blur(25px);
}

#exit-screen .text,
#stream-limit-crossed .text,
#premium-needed-screen .text,
#account-delete-screen .text,
#return-home-screen .text {
  color: #fff;
  text-align: center;
  margin-bottom: 90px;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#exit-screen .buttons,
#stream-limit-crossed .buttons,
#premium-needed-screen .buttons,
#account-delete-screen .buttons,
#return-home-screen .buttons {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  margin-top: 10px;
}

#exit-screen .button,
#stream-limit-crossed .button,
#premium-needed-screen .button,
#account-delete-screen .button,
#return-home-screen .button {
  color:#e50914;;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 40%;
  border-radius: 5px;
  padding: 18px 70px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#exit-screen .button.selected,
#stream-limit-crossed .button.selected,
#premium-needed-screen .button.selected,
#account-delete-screen .button.selected,
#return-home-screen .button.selected {
  color: #fff;
  border-radius: 5px;
  background: #e50914;
    /* box-shadow: 0 0 25px 6px #e50914, 0 0 15px 6px #e50914 inset; */
}