#favourites-screen  
{
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#favourites-screen .content
{
  height: 100vh;
}

#favourites-screen .content .details
{
  height: 50vh;
  position: relative;
  overflow: hidden;
}

#favourites-screen .content .details.full
{
  height: 80vh;
}

#favourites-screen .content .details .background
{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

#favourites-screen .content .details.full .background
{
  position: fixed;
  width: 100%;
}

#favourites-screen .content .details .background::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
}

#favourites-screen .content .details .background::before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 1;
}

#favourites-screen .content .details.full .background::after
 {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.5) 45%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

#favourites-screen .content .details.full .background::before
{
  background: none;
}

#favourites-screen .content .details .background img
{
  width: 100%;
  position: absolute;
}

#favourites-screen .content .details.full .background img 
{
  position: fixed;
  width: 100%;
  min-height: 100%;
}

#favourites-screen .content .details .info 
{
  width: 70%;
  display: block;
  position: absolute;
  height: 100%;
  padding: 60px 400px 60px 8.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

#favourites-screen .content .details .info .title
{
  color: #fff;
  font-size: 5vh;
  font-weight: bolder;
  text-transform: uppercase;
  max-height: 200px;
}

#favourites-screen .content .details .info .description
{
  color: #fff;
  font-size: 2.5vh;
  margin: 30px 0;
  max-height: 280px;
  overflow: hidden;
}

#favourites-screen .content .details .info .description.hide
{
  max-height: 0;
  overflow: hidden;
  margin: 15px;
}

#favourites-screen .content .details .info .buttons
{
  display: none;
}

#favourites-screen .content .details.full .info .buttons
{
  display: block;
}

#favourites-screen .content .details .info .buttons a
{
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  text-transform: uppercase;
  opacity: 0.8;
}

#favourites-screen .content .details .info .buttons a:first-child
{
  margin-left: 0;
}

#favourites-screen .content .details .info .buttons a.selected {
  border: 2px solid rgba(222, 13, 30, 0.9);
  box-sizing: border-box;
  color: rgb(228, 15, 50);
  opacity: 1;
}

#favourites-screen .content .row .row-content .item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0px 8px;
  transform-origin: center left;
}

#favourites-screen .content .row .row-content .item .poster {
  position: relative;
  width: 100%;
  padding-top: 150%;
}

#favourites-screen .content .row .row-content .item .poster.episode {
  padding-top: 55%;
}

#favourites-screen .content .row .row-content .item .poster.episode .progress {
  height: 12px;
  position: absolute;
  background: rgb(222, 13, 30, 0.7);
  bottom: 0;
}

#favourites-screen .content .row .row-content .item .poster.episode .progress::after {
  content: attr(value);
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  top: -185px;
  min-width: 25px;
  text-align: center;
  position: absolute;
  left: 15px;
  border-radius: 15px;
}

#favourites-screen .content .row .row-content .item .poster img {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
}

#favourites-screen .content .row .row-content .item .details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: #ecf0f1;
}

#favourites-screen .content .row .row-content .item:hover .details,
#favourites-screen .content .row .row-content .item:hover .info {
  opacity: 1;
}

#favourites-screen .content .row .row-content .item .details .title {
  position: absolute;
  bottom: 0;
  padding: 5%;
  white-space: normal;
  font-size: 70%;
}

#favourites-screen .content .row .row-content .item .info {
  font-size: 50%;
  position: absolute;
  top: 0;
  padding: 5% 7%;
  right: 0;
  background-color: #0009;
  border-bottom-left-radius: 10px;
  z-index: 100;
  text-decoration: none;
  color: white;
  font-weight: bold;
  opacity: 0;
  margin: 0;
}

#favourites-screen .content .row .row-content {
  width: calc(100% - 4.5vw);
  margin: 15px 0 50px 0;
}

#favourites-screen .content .row .row-content.episode {
  margin: 15px 0 113px 0;
}

#favourites-screen .content .row.slick-current .row-content {
  margin: 15px 0 50px 0;
}

#favourites-screen .content .row .row-content .slick-list {
  overflow: unset;
}

#favourites-screen .content .row .row-content .slick-track {
  padding-left: 8vw;
}

#favourites-screen .content .row .row-content .slick-slide {
  opacity: 0.3;
}

#favourites-screen .content .row .row-content .slick-active {
  opacity: 1;
}

#favourites-screen .content .row .row-content.selected::after {
  content: "";
  border: 6px solid rgba(222, 13, 30, 0.9);
  width: calc((100% - 9 * 10px)/9);
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: 8.3vw;
  box-sizing: border-box;
}

#favourites-screen .content .row .row-content.episode.selected::after {
  width: 396px;
  height: 218px;
}

#favourites-screen .content .row .row-title {
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.9;
  padding-left: 8.5vw;
}

/* ---------- */

.home_details-screen #favourites-screen .content .details.full .info .buttons,
.home_details-screen #menu-screen,
.home_details-screen .rows {
  display: none;
}

/* --------------------- */

.home_episodes-screen #favourites-screen .content
{
  margin-top: -100vh;
}

.home_episodes-screen #favourites-screen .content .background::after
{
  background: rgba(0, 0, 0, 0.8);
}
