#subscription {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: auto;
    color: #fff;
}

#subscription .content {
    padding-left: 400px;
    padding-right: 400px;
}

#subscription .content .hide {
    display: none;
}

#subscription .subscription-title {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0px;
    text-align: center;
}



#subscription .subscription-packages::after {
    content: "";
    /* border: 2px solid rgba(244, 130, 33, 0.9); */
    border: 10px solid rgba(222, 13, 30, 0.9);
    border-radius: 10px;
    width: 100%;
    height: 248px;
    position: absolute;
    top: 20px;
    box-sizing: border-box;
    /* box-shadow: 0 0 25px 6px #e50914, 0 0 15px 6px #e50914 inset; */
    /* margin-top: 25px; */
    opacity: 1;
}

#subscription .package{
    /*   width: 1804px; */
    height: 248px;
    box-sizing: border-box;
    flex-shrink: 0;
      border-radius: 10px;
    background: #1F1F1F;
      padding:35px 65px;
      display:flex;
      justify-content:space-between;
    align-items:center;
    margin:20px 0;
    }
    .package-details{
      display:flex;
      flex-direction:column;
      /* gap:20px; */
    }
    .package-price-text{
      padding-left:30px;
      color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 109.375% */
    }
    .package-price{
      position:relative;
    }
    .margin-right-40{
        margin-right: 40px;
    }
    .mb-20{
        margin-bottom: 20px;
    }
    .ml-20{
        margin-left: 20px;
    }
    .package-price svg{
      position:absolute;
      top:0;
    }
    
    .package-description{
      display:flex;
      /* gap:40px; */
      /* row-gap: 40px !important; */
      align-items:center;
    }
    .package-title{
      color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .package-subtilte-wrapper{
      display:flex;
      /* gap:18px; */
      align-items:center;
    }
    .package-subtitle{
      color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .package-validity{
      position:relative;
    }
    
    
    .package-validity-title{
      position:absolute;
      top:50%;
      left:40%;
      transform:translate(-40%,-60%);
      color: rgba(255, 255, 255, 0.88);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

#subscription .package.active {
    filter: none;
    opacity: 1;
}

#show-payment-method .payment-content {
    margin-left: 100px;
    margin-top: 100px;
    width: 100%;
}

#show-payment-method .payment-content .payment_mode {
    /* border:2px solid #fff; */
    padding: 20px;
margin-bottom: 20px;
    background-color: #1F1F1F;
    color: #FFF;
text-align: center;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#show-payment-method .payment-method-page {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    margin-top: 200px;
}
#subscription .payment-list{
  display: flex;
}
#subscription .payment-list  .payment_mode{
  margin-right: 20px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#subscription .payment-list  .payment_mode.selected{
  border: 2px solid red;
}

#payment-qr-code img {
    border: 10px solid #fff;
}

.selected-pack-description{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
.selected-pack-description > .package-title{
    font-size: 64px;
    margin-bottom: 40px;
}
.selected-pack-description > .package-subtilte-wrapper{
    font-size: 48px;
    margin-bottom: 40px;
}

.selected-pack-description > .package-price{
    margin-bottom: 40px;
    font-size: 64px;

}
#payment-qr-code{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media only screen and (max-width: 1280px) {
  #subscription .content {
    padding-left: 200px;
    padding-right: 200px;
}

#subscription .package{
  /*   width: 1804px; */
  width: 100%;
  height: 220px;
}

#subscription .subscription-packages::after {
  height: 220px;
}
}